In [1]:
import pandas as pd

In [2]:
usage = pd.read_csv('C:\jupiter_workspace\ml_tp\Bicycle 20&21.csv', encoding='cp949')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
usage.head()

,Unnamed: 0,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,0,SPB-04061,2020-01-01 00:01:04,429,송도병원,2,2020-01-01 00:04:21,00372,약수역 3번출구 뒤,8,2.0,0.0
1,1,SPB-06686,2020-01-01 00:02:53,1637,KT 노원점 건물 앞,14,2020-01-01 00:04:48,01656,중앙하이츠 아파트 입구,9,1.0,350.0
2,2,SPB-15937,2020-01-01 00:01:21,1924,삼부르네상스파크빌,10,2020-01-01 00:05:51,01955,디지털입구 교차로,7,4.0,800.0
3,3,SPB-14805,2020-01-01 00:03:12,437,대흥역 1번출구,1,2020-01-01 00:05:54,00126,서강대 후문 옆,18,2.0,0.0
4,4,SPB-09038,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,5,2020-01-01 00:05:57,01152,마곡역교차로,2,4.0,660.0

In [5]:
usage.columns

Index(['Unnamed: 0', '자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시',
       '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [4]:
usage2 = pd.read_csv('./20&21.csv', encoding='cp949')

In [12]:
#필요없는 열 제거
#usage2 = usage.drop(['Unnamed: 0', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납대여소번호', '반납대여소명', '반납거치대'], axis=1)

#반납일시 열에서 시간 지우기
#usage2['반납일시'] = usage2['반납일시'].str.split(' ').str[0]

#이용시간=0이면 이용거리가 결측치였음
#이용시간=0인 값 삭제 (96개 데이터 삭제 완료)
#zerotime = usage2[usage['이용시간'] == 0.0].index
#zerotime
#usage2.drop(zerotime, inplace=True)

#홈페이지 기준 이용시간>240분인 자전거는 도난으로 취급
#이용시간>240인 데이터 삭제 (32331개 데이터 삭제 완료, 전체의 0.05%)
#overtime = usage2[usage2['이용시간'] > 240].index
#usage2.drop(overtime, inplace=True)

#이용거리=NaN인 데이터는 데이터 자체가 밀려 수집된 것으로 확인
#이용거리=NaN인 값 삭제 (355개 데이터 삭제 완료)
#usage2 = usage2.dropna()

#이용시간, 이용거리 정수화
#usage2 = usage2.astype({'이용시간' : int, '이용거리' : int}, errors='raise')

#반납일시 datetime type
#usage2['반납일시'] = pd.to_datetime(usage2['반납일시'])

usage2.head()

       자전거번호       반납일시  이용시간  이용거리
0  SPB-04061 2020-01-01     2     0
1  SPB-06686 2020-01-01     1   350
2  SPB-15937 2020-01-01     4   800
3  SPB-14805 2020-01-01     2     0
4  SPB-09038 2020-01-01     4   660

In [13]:
usage2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54044163 entries, 0 to 54076493
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   자전거번호   object
 1   반납일시    datetime64[ns]
 2   이용시간    int32
 3   이용거리    int32
dtypes: datetime64[ns](1), int32(2), object(1)
memory usage: 1.6+ GB

In [31]:
#데이터가 너무 커서 2020년 데이터만 일단 처리하자
#usage_2020 = usage2[usage2['반납일시'] <= '2020-12-31']

#정렬정렬~~
#usage_2020 = usage_2020.sort_values(['자전거번호', '반납일시'], ascending=False)

#고장여부 열 추가, 기본값은 N
#usage_2020['고장여부'] = 'N'

usage_2020.tail(20)

             자전거번호       반납일시  이용시간  이용거리 고장여부
3221647  SPB-00003 2020-04-04    11     0    N
3226062  SPB-00003 2020-04-04     3     0    N
3242615  SPB-00003 2020-04-04    61     0    N
3127905  SPB-00003 2020-04-03    33     0    N
3131197  SPB-00003 2020-04-03    18     0    N
3139463  SPB-00003 2020-04-03    13     0    N
3147147  SPB-00003 2020-04-03    95     0    N
3149615  SPB-00003 2020-04-03    25     0    N
3151525  SPB-00003 2020-04-03    14     0    N
3163125  SPB-00003 2020-04-03    50     0    N
3167906  SPB-00003 2020-04-03    17     0    N
3169785  SPB-00003 2020-04-03    12     0    N
3044037  SPB-00003 2020-04-02    58     0    N
3105921  SPB-00003 2020-04-02    32     0    N
3002414  SPB-00003 2020-04-01     3     0    N
3005478  SPB-00003 2020-04-01    22     0    N
3016187  SPB-00003 2020-04-01    38     0    N
3021347  SPB-00003 2020-04-01    19     0    N
3022281  SPB-00003 2020-04-01     6     0    N
3024892  SPB-00003 2020-04-01    16     0    N

In [95]:
#breakdown = breakdown.sort_values(['자전거번호', '등록일시'], ascending=False)
con1 = usage_2020['자전거번호'] == 'SPB-23582'
con2 = usage_2020['자전거번호'] == 'SPB-23581'
con3 = usage_2020['반납일시'].dt.month == 6

usage_2020[(con1 | con2) & con3]

             자전거번호       반납일시  이용시간   이용거리 고장여부
9942089  SPB-23582 2020-06-27     8      0    N
9962614  SPB-23582 2020-06-27    61   5540    N
9828459  SPB-23582 2020-06-26    27      0    N
9833074  SPB-23582 2020-06-26    22   3310    N
9849371  SPB-23582 2020-06-26    40   4680    N
...            ...        ...   ...    ...  ...
8316719  SPB-23581 2020-06-09     8      0    N
8321085  SPB-23581 2020-06-09    25   1580    N
8339215  SPB-23581 2020-06-09    57  47860    N
8340751  SPB-23581 2020-06-09     4    310    N
8346730  SPB-23581 2020-06-09    27   4510    N

[77 rows x 5 columns]

In [75]:
#등록일시 datetime type
breakdown['등록일시'] = pd.to_datetime(breakdown['등록일시'])

In [60]:
breakdown[breakdown['자전거번호'] == 'SPB-23582']

            자전거번호        등록일시  고장구분
176917  SPB-23582  2020-10-09   단말기
158521  SPB-23582  2020-07-02   기타
155713  SPB-23582  2020-06-17   단말기
152825  SPB-23582  2020-06-04   단말기
129154  SPB-23582  2020-03-23   단말기
121004  SPB-23582  2020-02-05   기타
116258  SPB-23582  2019-12-09  타이어
91646   SPB-23582  2019-09-17   단말기

In [94]:
con1 = usage_2020['자전거번호'] == 'SPB-23582'
con2 = usage_2020['자전거번호'] == 'SPB-23581'
con3 = usage_2020['반납일시'].dt.month == 6

a = breakdown[breakdown['자전거번호'] == 'SPB-23582']
b = usage_2020[(con1 | con2) & con3]

In [93]:
print(a)

print(b.head())

            자전거번호       등록일시  고장구분
176917  SPB-23582 2020-10-09   단말기
158521  SPB-23582 2020-07-02   기타
155713  SPB-23582 2020-06-17   단말기
152825  SPB-23582 2020-06-04   단말기
129154  SPB-23582 2020-03-23   단말기
121004  SPB-23582 2020-02-05   기타
116258  SPB-23582 2019-12-09  타이어
91646   SPB-23582 2019-09-17   단말기
             자전거번호       반납일시  이용시간  이용거리 고장여부
9942089  SPB-23582 2020-06-27     8     0    Y
9962614  SPB-23582 2020-06-27    61  5540    Y
9828459  SPB-23582 2020-06-26    27     0    N
9833074  SPB-23582 2020-06-26    22  3310    N
9849371  SPB-23582 2020-06-26    40  4680    N

In [77]:
i=0
j=0

while i < a.shape[0] :
    while j < b.shape[0] :
        
        if  b.iloc[j, 0] == a.iloc[i, 0] : #두 자전거의 번호가 일치    
            
            if b.iloc[j, 1] <= a.iloc[i, 1] : #이용일 <= 고장일
                b.iloc[j, 4] = 'Y' #제일 마지막에 사용했을 때 고장났을 것이라 판단
                i=i+1 #다음 고장내역으로 넘어가기
                j=j+1 #다음 사용내역으로 넘어가기

            else : #이용일 > 고장일
                j=j+1 #다음 사용내역으로 넘어가기

        else : #일치하는 번호가 없다면
            i=i+1 #다음 고장내역으로 넘어가기
            j=j+1 #다음 사용내역으로 넘어가기

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

IndexError: single positional indexer is out-of-bounds

In [87]:
i=0
j=0

while i < breakdown.shape[0] :
    for j in range(usage_2020.shape[0]) :
        
        if  usage_2020.iloc[j, 0] == breakdown.iloc[i, 0] : #두 자전거의 번호가 일치    
            
            if usage_2020.iloc[j, 1] <= breakdown.iloc[i, 1] : #이용일 <= 고장일
                usage_2020.iloc[j, 4] = 'Y' #제일 마지막에 사용했을 때 고장났을 것이라 판단
                i=i+1 #다음 고장내역으로 넘어가기
                j=j+1 #다음 사용내역으로 넘어가기

        else : #일치하는 번호가 없다면
            i=i+1 #다음 고장내역으로 넘어가기
            j=j+1 #다음 사용내역으로 넘어가기

IndexError: single positional indexer is out-of-bounds

In [3]:
usage2.to_csv("20&21.csv", mode='w',encoding='euc-kr')

NameError: name 'usage2' is not defined

In [15]:
usage2.isna().sum()

자전거번호    0
반납일시     0
이용시간     0
이용거리     0
dtype: int64

In [30]:
breakdown.iloc[3, 1]

'2021-11-19'

In [18]:
temp=usage2[usage2.isna().any(axis=1)]
temp

              자전거번호        반납일시     이용시간  이용거리
47102     SPB-09846       02701   830.00   NaN
63437     SPB-16990  2020-01-03  1570.00   NaN
80712     SPB-12017       03518   760.00   NaN
203728    SPB-07700       02135  5360.00   NaN
217136    SPB-06502  2020-01-11  5560.00   NaN
...             ...         ...      ...   ...
36521078  SPB-53149       00949  1951.82   NaN
36583711  SPB-48293  2021-06-28  1660.00   NaN
36614608  SPB-38582  2021-06-28  1471.84   NaN
36825771  SPB-39990       04175  2209.20   NaN
36841207  SPB-55263  2021-06-30  3100.00   NaN

[355 rows x 4 columns]

In [9]:
usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54076945 entries, 0 to 54076944
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   자전거번호       object
 2   대여일시        object
 3   대여 대여소번호    int64
 4   대여 대여소명     object
 5   대여거치대       object
 6   반납일시        object
 7   반납대여소번호     object
 8   반납대여소명      object
 9   반납거치대       int64
 10  이용시간        float64
 11  이용거리        float64
dtypes: float64(2), int64(3), object(7)
memory usage: 4.8+ GB

In [10]:
usage.describe()

         Unnamed: 0      대여 대여소번호         반납거치대          이용시간          이용거리
count  5.407694e+07  5.407694e+07  5.407694e+07  5.407694e+07  5.407649e+07
mean   2.703847e+07  1.524288e+03  2.373398e+00  2.782605e+01  2.254015e+03
std    1.561067e+07  1.134997e+03  1.189511e+01  3.254596e+01  3.902149e+03
min    0.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.351924e+07  6.090000e+02  0.000000e+00  8.000000e+00  0.000000e+00
50%    2.703847e+07  1.256000e+03  0.000000e+00  1.600000e+01  9.706600e+02
75%    4.055771e+07  2.177000e+03  0.000000e+00  3.800000e+01  2.660070e+03
max    5.407694e+07  9.999900e+04  1.510000e+02  2.528404e+04  2.474100e+05

In [2]:
breakdown = pd.read_csv("C:/jupiter_workspace/ml_tp/bike_breakdown.csv", encoding='cp949')

In [11]:
breakdown[(breakdown['등록일시'].dt.year == 2020) | (breakdown['등록일시'].dt.year == 2021)]

            자전거번호       등록일시  고장구분
118289  SPB-22497 2020-01-01  타이어
118290  SPB-22497 2020-01-01    체인
118291  SPB-21107 2020-01-01   단말기
118292  SPB-15823 2020-01-01    체인
118293  SPB-23244 2020-01-01    체인
...           ...        ...   ...
337868  SPB-52362 2021-12-30    안장
337869  SPB-34353 2021-12-30   기타
337870  SPB-31667 2021-12-30   기타
337871  SPB-43563 2021-12-30    체인
337872  SPB-43563 2021-12-30   기타

[219584 rows x 3 columns]

In [9]:
breakdown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337873 entries, 0 to 337872
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   337873 non-null  object
 1   등록일시    337873 non-null  datetime64[ns]
 2   고장구분    337873 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.7+ MB

In [7]:
breakdown['등록일시'] = pd.to_datetime(breakdown['등록일시'])

In [19]:
#같은자전거에 같은 날에 여러건 등록된 데이터에 대해서는 첫행만 남기고 제거함
breakdown.drop_duplicates(['자전거번호','등록일시'], keep='first', inplace=True)

In [38]:
con1 = breakdown['자전거번호'] == 'SPB-00001'
con2 = breakdown['등록일시'] == '2018-06-18'

breakdown[con1 & con2]

           자전거번호        등록일시  고장구분
12372  SPB-00001  2018-06-18  타이어
12373  SPB-00001  2018-06-18    체인
12374  SPB-00001  2018-06-18    안장
12375  SPB-00001  2018-06-18    페달
12376  SPB-00001  2018-06-18   단말기
12377  SPB-00001  2018-06-18   기타

In [38]:
test = breakdown.groupby(['자전거번호']).count()

In [55]:
k=test[test['고장구분']==8].tail(2000)
k.head()

           등록일시  고장구분
자전거번호
SPB-23540     8     8
SPB-23568     8     8
SPB-23580     8     8
SPB-23581     8     8
SPB-23582     8     8

In [42]:
con1 = breakdown['자전거번호'] == 'SPB-00001'
con2 = breakdown['등록일시'] == '2018-06-18'

test2 = breakdown[con1 & con2]
test2.head()

           자전거번호        등록일시  고장구분
12372  SPB-00001  2018-06-18  타이어
12373  SPB-00001  2018-06-18    체인
12374  SPB-00001  2018-06-18    안장
12375  SPB-00001  2018-06-18    페달
12376  SPB-00001  2018-06-18   단말기

In [43]:
test['고장구분'].value_counts()

1     262847
2      29946
3       3670
4        546
6        187
5        141
7          5
8          5
10         1
28         1
Name: 고장구분, dtype: int64

In [20]:
test = pd.read_csv("C:/jupiter_workspace/ml_tp/공공자전거 대여이력 정보_2112.csv", encoding='cp949')

In [21]:
test.head()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-53035,2021-12-01 09:45:56,3,중랑센터,0,2021-12-01 09:58:57,646,장한평역 1번출구 (국민은행앞),0,13,0.00
1,SPB-40999,2021-12-05 16:02:31,3,중랑센터,0,2021-12-05 16:07:58,529,장한평역 8번 출구 앞,0,5,0.00
2,SPB-55934,2021-12-10 22:01:39,3,중랑센터,0,2021-12-10 22:40:27,1332,석계역 5번출구 건너편,0,38,8710.00
3,SPB-50913,2021-12-11 07:01:32,3,중랑센터,0,2021-12-11 07:11:11,540,군자역 7번출구 베스트샵 앞,0,9,0.00
4,SPB-31324,2021-12-15 16:02:04,3,중랑센터,0,2021-12-15 16:13:21,540,군자역 7번출구 베스트샵 앞,0,11,2161.63

In [26]:
test.sort_values(by='대여거치대', ascending=False)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
1173031,SPB-81963,2021-12-05 19:21:54,2250,서초유치원 맞은편,99,2021-12-05 19:33:55,2249,우솔초등학교 맞은편,99,12,1020.00
175685,SPB-83218,2021-12-09 10:31:48,308,광화문 S타워 앞,99,2021-12-09 10:40:14,433,을지로입구역 2번출구,99,8,1340.00
274229,SPB-81684,2021-12-11 22:09:36,480,약수역 6번 출구,99,2021-12-11 22:31:42,3514,왕십리교회옆,99,22,2590.00
1220896,SPB-83296,2021-12-21 15:14:13,2404,대모산입구역 4번 출구 앞,99,2021-12-21 16:09:49,2373,개포동역 사거리,99,55,910.00
1025719,SPB-81167,2021-12-05 11:45:45,1904,도림천역 1번 출구 앞,99,2021-12-05 11:51:41,1901,신도림동주민센터 앞,99,5,745.50
...,...,...,...,...,...,...,...,...,...,...,...
572480,SPB-31961,2021-12-09 17:39:53,978,녹번 힐스테이트상가앞,0,2021-12-09 17:48:08,982,유니클로 은평점앞,0,8,1132.86
572479,SPB-35533,2021-12-09 16:56:27,978,녹번 힐스테이트상가앞,0,2021-12-09 17:12:54,946,독바위역,0,16,2320.17
572478,SPB-38718,2021-12-09 10:38:23,978,녹번 힐스테이트상가앞,0,2021-12-09 12:11:51,4658,녹번역1번출구앞,0,93,0.00
572477,SPB-46499,2021-12-09 10:01:15,978,녹번 힐스테이트상가앞,0,2021-12-09 10:26:12,3125,연희파크푸르지오아파트 앞,0,24,3540.00
1704296,SPB-53564,2021-12-22 14:38:04,99999,영남단말기정비,0,2021-12-22 14:39:29,9998,영남주차장 정비센터,0,1,0.00

In [88]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
breakdown['고장구분'] = le.fit_transform(breakdown['고장구분'])

In [92]:
breakdown['고장구분'].value_counts()

4    64726
0    63277
5    58885
1    50511
2    45200
7    14665
6       44
3       41
Name: 고장구분, dtype: int64